@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@layer base {
  @font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter.ttf") format("truetype");
  }

  @font-face {
    font-family: "JetBrainsMono";
    src: url("./assets/fonts/JetBrainsMono.ttf") format("truetype");
  }

  body {
    font-family: "Inter", sans-serif;
  }

  code,
  pre {
    font-family: "JetBrainsMono", monospace;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.5);
}

::-webkit-scrollbar-track {
  background: transparent;
}

.cm-editor.cm-focused {
  outline: none !important;
}
