@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@layer base {
  @font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter.ttf") format("truetype");
  }

  @font-face {
    font-family: "JetBrainsMono";
    src: url("./assets/fonts/JetBrainsMono.ttf") format("truetype");
  }

  body {
    font-family: "Inter", sans-serif;
  }

  code,
  pre {
    font-family: "JetBrainsMono", monospace;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.5);
}

::-webkit-scrollbar-track {
  background: transparent;
}

.prose {
  --tw-prose-body: theme(colors.zinc.700);
  --tw-prose-headings: theme(colors.zinc.900);
  --tw-prose-links: theme(colors.zinc.900);
  --tw-prose-bold: theme(colors.zinc.900);
  --tw-prose-quotes: theme(colors.zinc.600);
  --tw-prose-hr: theme(colors.zinc.200);
  --tw-prose-bullets: theme(colors.zinc.400);
}

.dark .prose {
  --tw-prose-body: theme(colors.zinc.300);
  --tw-prose-headings: theme(colors.zinc.100);
  --tw-prose-links: theme(colors.zinc.100);
  --tw-prose-bold: theme(colors.zinc.100);
  --tw-prose-quotes: theme(colors.zinc.400);
  --tw-prose-hr: theme(colors.zinc.800);
  --tw-prose-bullets: theme(colors.zinc.600);
}

.cm-editor.cm-focused {
  outline: none !important;
}

.cm-content {
  color: theme(--color-zinc-700);
}

.dark .cm-content {
  color: theme(--color-zinc-300);
}
